* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}


html, body{
    background-color: #1B2129;
    color: #bdf3fe;
    font-family: 'Saira', sans-serif;
    font-size: 2vmin;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

section{
    height: 100vh;
}


/*navbar*/
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    background-color: #171D23;
    border-bottom: 1px solid black;
    box-shadow: 0 0.1rem 1rem #000;
}

header h1{
    margin: 1rem;
    font-family: 'Dancing Script', cursive;
}

nav a{
    display: inline-block;
    margin-right: 2rem;
    text-decoration: none;
    color: #bdf3fe;
    font-size: 1.3vw;
}

a:hover { 
    animation: glow 1s ease-in-out infinite alternate;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
 }

 @keyframes glow {
    from {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #00b4d8
    }
    to {
      text-shadow: 0 0 10px #fff, 0 0 15px #00b4d8, 0 0 20px #00b4d8
    }
  }
/*navbar*/
#home{
    display: flex;
    background-color: #1B2129;
    background-image: linear-gradient(315deg, #1B2129 0%, #11171d 74% );
}

#title{
    margin: 0 10vw 0;
}

#homearticle{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 15vh;
}

#homearticle h2{
    margin-bottom: 0;
}

#title h1{
    font-family: 'Dancing Script', cursive;
    font-size: 10vw;
    margin: 0;
    color: #00b4d8;
    text-shadow: #00b4d8 0 0 .5vw;
}

#title h2{
    font-family: 'Saira', sans-serif;
    font-size: 1.8vw;
}

#homearticle button{
    min-width: 15vw;
    padding: 1vw;
    font-family: inherit;
    font-size: 1.4vw;
    font-weight: 600;
    margin-top: 5vh;
    color: #1B2129;
    background-color: #00b4d8;
    border-radius: 1rem;
    border: solid #2a3a52;
    cursor: pointer;
}

#homearticle button a{
    text-decoration: none;
    color: #1B2129;
    padding: .1rem;
}

#homearticle button a:hover{
    text-decoration: none;
    color: #bdf3fe;
}
#homearticle button:hover{
    background-color: #2a3a52 ;
    border: solid #00b4d8;
    box-shadow: #2a3a52 0 0 1vw;
    color: #bdf3fe;
}

/*projects*/

#projarticle #title{
    padding-top: 6vw;
}
#projarticle #title h1{
    font-size: 6vw;
}

#projarticle #title h2{
    margin-top: .5vw;
    margin-bottom: 1.5vw;
}

#projects{
    background-color: #1B2129;
    background-image: linear-gradient(-135deg, #1B2129 0%, #11171d 74% );
}

#projcontainer{
    display: flex;
    gap: 1vw;
    grid-template-columns: auto;
    justify-content: center;
    margin-top: 1vw;
}


#projcontainer div{
    width: 35vw;
    height: 15vw;
    border: .4vw solid #00b4d8;
    box-shadow: 0 0.1rem .5rem #00b4d8;
}
#projcontainer div h2{
    margin-left: 1rem;
    padding-left: 1rem;
    width: 20vw;
    color: #bdf3fe;
}

#projcontainer a{
    text-decoration: none;
    color: #bdf3fe;
}
#cell-1{
    border-radius: 0 3vw 0 3vw;
    background-image: url('https://i.ibb.co/hMkSpwQ/bryceahaynes.png');
}

#cell-2{
    border-radius: 3vw 0 3vw 0;
}

#cell-3{
    border-radius: 3vw 0 3vw 0;
}

#cell-4{
    border-radius: 0 3vw 0 3vw;
}


/*projects*/

/*about*/
#aboutarticle #title{
    padding-top: 6vw;
}
#aboutarticle #title h1{
    font-size: 6vw;
}

#aboutarticle #title h2{
    margin-top: .5vw;
    font-size: 1.3VW;
}

#about{
    background-color: #1B2129;
    background-image: linear-gradient(315deg, #1B2129 0%, #11171d 74% );
}
#abouta{
    margin-left: 10vw;
    margin-right: 10vw;
    font-size: 1vw;
}
#abouthead{
    text-align: center;
}

#flex-about{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}
#flex-about p{
    font-size: 2vw;
    padding: 0 1vw;
    text-align: center;
}
#box1{
    width: 40vw;
    height: 20vw;
    border-radius: 3vw 0 3vw 0;
    border: .4vw solid #00b4d8;
    box-shadow: 0 0.1rem .5rem #00b4d8;
}
#box2{
    width: 40vw;
    height: 20vw;
    border-radius: 0 3vw 0 3vw;
    border: .4vw solid #00b4d8;
    box-shadow: 0 0.1rem .5rem #00b4d8;
}

#para3-box{
    text-align: center;
    border-radius: 1vw;
    border-radius: 0 0 3vw 3vw;
    border: .4vw solid #00b4d8;
    box-shadow: 0 0.1rem .5rem #00b4d8;
    margin-top: 1vw;
    padding: .5vw;
    font-size: 1.1vw
}
#para3-box{
    font-size: 1.5vw;
}

#aboutfoot{
    text-align: center;
}


/*about*/
/*contact*/
#contarticle #title{
    padding-top: 6vw;
}
#contarticle #title h1{
    font-size: 6vw;
}

#contarticle #title h2{
    margin-top: .5vw;
    font-size: 1.3VW;
}

#contact{
    background-color: #1B2129;
    background-image: linear-gradient(-135deg, #1B2129 0%, #11171d 74% );
}
/*contact*/
@media screen and (max-width: 1060px){
    
    nav a{
        font-size: 3vw;
    }
    #homearticle button{
        font-size: 3vw;
        margin-top: 5vh;
    }
    #title{
        padding-top: 10vw;
        margin-bottom: 5vh;
    }
    #homearticle{
        margin-top: 10vw;
    }
    #projarticle #title h1{
        font-size: 10vw;
        margin-top: 10vw;
    }
    #aboutarticle #title h1{
        font-size: 10vw;
        margin-top: 10vw;
    }
    #aboutarticle h2{
        font-size: 2.1vw;
    }
}

@media screen and (max-width: 500px) {
    #title h1{
        font-size: 15vw;
        margin: 0;
    }
    #title h2{
        font-size: 4vw;
        margin: 0;
    }
    nav a{
        font-size: 4vw;
    }
    #title{
        margin-bottom: 5vh;
    }
    #homearticle button{
        font-size: 4vw;
    }
    #projcontainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #projcontainer div{
        width: 80vw;
        height: 25vw ;
    }
    #cell-3{
        border-radius: 0 3vw 0 3vw;
    }
    #cell-4{
        border-radius: 3vw 0 3vw 0;
    }

    #projarticle #title h1{
        font-size: 10vw;
        margin-top: 10vw;
    }
    #projarticle #title h2{
        margin-top: 3vw;
        margin-bottom: 3vh;
    }
    #abouta{
        font-size: 1.5vw;
    }

    #aboutarticle #title h1{
        font-size: 10vw;
        margin-top: 10vw;
    }

    #contarticle #title h1{
        font-size: 10vw;
        margin-top: 10vw;
    }
    #abouta h2{
        font-size: 4vw;
    }
    #flex-about{
        align-items: center;
        gap: 2vw;
    }
    #flex-about p{
        font-size: 3.4vw;
    }
    #box1, #box2{
        width: 50vw;
        height: 50vw;
    }
    #para3-box{
        font-size: 2.6vw;
        margin-top: 3vw;
        margin-left: 0;
        margin-right: 0;
    }

}